{% extends "_base.html" %}

{% block content %}

<section class="relative isolate pt-20">
  <div class="flex flex-col md:flex-row gap-4 border p-4 rounded-md">
<div class="basis-full md:basis-1/2">
    <img class="h-64 md:h-96 lg:96 w-full object-cover rounded-full sm:rounded-3xl md:rounded-xl lg:rounded-md" src="https://images.unsplash.com/photo-1595345639192-5ae79fc1a715?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image description">
</div>
<div class="basis-full md:basis-1/2">
<div class="bg-white flex flex-col justify-center text-center p-1 sm:p-2 md:p-4 lg:p-8">
    <!-- main text -->
    <div class="">
        <p class="text-gray-900 leading-relaxed text-center text-4xl font-extrabold">
            AKANI MASHABA
        </p>
    </div>
    <!-- professinal summary -->
    <div class="">
        <p class="text-gray-500 text-left first-line:uppercase first-line:tracking-widest first-letter:text-5xl first-letter:font-bold first-letter:text-gray-900 dark:first-letter:text-gray-100 first-letter:mr-3 first-letter:float-left">
            Highly motivated and results-driven IT professional with a Bachelor of Science degree in Information Technology. Adept at leveraging technical expertise to solve complex problems, design innovative solutions, and optimize system performance. Proven track record of successfully managing IT projects, collaborating with cross-functional teams, and delivering results within deadlines. Strong analytical and problem-solving skills, combined with effective communication and leadership abilities. Committed to staying current with emerging technologies to drive continuous improvement. Eager to contribute my skills and knowledge to a dynamic organization seeking a dedicated IT professional.
        </p>
    </div>
</div>



</div>
  </div>
</section>

{% endblock content %}