{% extends "_base.html" %}

{% block content %}

<div class="bg-white pt-24 sm:pt-32">
    <div class="mx-auto max-w-7xl">
      
      <div class="grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for post in posts %}
        <div class="bg-white rounded-xl hover:shadow overflow-hidden">
          <div class="md:flex">
            <div class="md:shrink-0">
              <img class="h-48 w-full object-cover md:h-full md:w-48" src="{{ post.image.url }}" alt="Modern building architecture">
            </div>
            <div class="p-8">
              <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Company retreats</div>
              <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">"{{ post.title }}"</a>
              <p class="mt-2 text-slate-500">{{ post.content }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
        

      

      </div>
    </div>
  </div>
  
{% endblock content %}