SECURE_HSTS_SECONDS = 2,592,000
SECURE_HSTS_INCLUDE_SUBDOMAINS = True
SECURE_HSTS_PRELOAD = True
CSRF_COOKIE_SECURE = True
SESSION_COOKIE_SECURE = True

SECRET_KEY = 
DEBUG =
ALLOWED_HOSTS =

ENGINE= django.db.backends.postgresql_psycopg2
HOST= 
NAME= 
USER= 
PORT= 
PASSWORD= 


cloud_name =
api_key = 
api_secret = 

